<div class="sidebar">
    <h4 class="text-center">Norte Tech</h4>
    <a href="{% url 'home' %}" ><i class="fa fa-home me-2"></i> HOME</a>
    <a href="{% url 'livro_de_ocorrencia' %}"><i class="fas fa-users me-2"></i> LIVRO DE OCORRÊNCIAS</a>
    <a href="{% url 'entrega_de_chave' %}"><i class="fas fa-list me-2"></i> CONTROLE DE CHAVES</a>
    <a href="{% url 'controle_visitantes'  %}"><i class="fas fa-door-open me-2"></i> ENTRADA E SAÍDA DE VISITANTES</a>
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt me-2"></i> LOGOUT</a>

</div>