<div class="sidebar {% if request.resolver_match.url_name == 'home' %}reduzida{% endif %}" id="sidebar">
  
  <!-- Botão com ícone de raio sempre visível -->
  <button id="toggleSidebarBtn" class="toggle-btn-inside">
    <i class="fas fa-bolt"></i>
  </button>

  <h4 class="text-center sidebar-title">Norte Tech</h4>

  <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
      <i class="fa fa-home"></i>
      <span class="link-text">HOME</span>
  </a>

  <a href="{% url 'livro_de_ocorrencia' %}" class="{% if request.resolver_match.url_name == 'livro_de_ocorrencia' %}active{% endif %}">
      <i class="fas fa-users"></i>
      <span class="link-text">LIVRO DE OCORRÊNCIAS</span>
  </a>

  <a href="{% url 'ocorrencia_cracha' %}" class="{% if request.resolver_match.url_name == 'ocorrencia_cracha' %}active{% endif %}">
      <i class="fas fa-id-badge"></i>
      <span class="link-text">CRACHA OCORRÊNCIAS </span>
  </a>

  <a href="{% url 'entrega_de_chave' %}" class="{% if request.resolver_match.url_name == 'entrega_de_chave' %}active{% endif %}">
      <i class="fas fa-key"></i>
      <span class="link-text">CONTROLE DE CHAVES</span>
  </a>

  <a href="{% url 'controle_visitantes' %}" class="{% if request.resolver_match.url_name == 'controle_visitantes' %}active{% endif %}">
      <i class="fas fa-door-open"></i>
      <span class="link-text">VISITANTES</span>
  </a>

  <a href="{% url 'fornecedores_cadastrados' %}" class="{% if request.resolver_match.url_name == 'fornecedores_cadastrados' %}active{% endif %}">
      <i class="fas fa-door-open"></i>
      <span class="link-text">REGISTROS VISITANTES</span>
  </a>

  <a href="{% url 'logout' %}">
      <i class="fas fa-sign-out-alt"></i>
      <span class="link-text">LOGOUT</span>
  </a>
</div>
 