{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://encrypted-tbn2.gstatic.com/faviconV2?url=https://www.nortetech.net&amp;client=VFE&amp;size=64&amp;type=FAVICON&amp;fallback_opts=TYPE,SIZE,URL&amp;nfrp=2" type="image/png">
    <title>{% block title %}Login - PATRIMONIO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'patrimonio/css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="login-wrapper">
    <!-- Overlay do formulário -->
    <div class="login-box text-center">
        <!-- Logo centralizada -->
        <img src="https://static.wixstatic.com/media/de50eb_ad9cb6f8ec9d429e87290a369ebdf57d~mv2.png" 
             alt="Logo" 
             class="login-logo mb-3">

        {% if messages %}
            {% for message in messages %}
                <p class="text-danger text-center">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="input-icon mb-3">
                <i class="fa fa-user"></i>
                <input type="text" name="username" class="form-control" placeholder="Usuário" required>
            </div>
            <div class="input-icon mb-3">
                <i class="fa fa-eye-slash"></i>
                <input type="password" name="password" class="form-control" placeholder="Senha" required>
            </div>
            <button type="submit" class="btn btn-login w-100">ENTRAR</button>
        </form>
    </div>
</div>


</body>
</html>
