.sidebar {
    width: 25vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    overflow-y: auto; /* Adiciona o scroll vertical */
    scrollbar-width: thin; /* Scroll mais fino (para navegadores compatíveis) */
    scrollbar-color: #888 #f1f1f1; /* Cor da barra e do fundo */
}

/* Estiliza o scrollbar para navegadores baseados em Webkit (Chrome, Edge, etc.) */
.sidebar::-webkit-scrollbar {
    width: 8px; /* Largura do scroll */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da "bolinha" do scroll */
    border-radius: 4px; /* Borda arredondada */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do fundo da barra */
}
.sidebar a {
    padding: 0.5rem 1rem;
    display: flex;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    text-decoration: none;
}
.sidebar button {
    width: 90%;
    margin: 10px auto;
    display: block;
}

.sidebar i{
    font-size: 17px;
    padding: 5px;
}

.main-content {
    margin-left: 25vw;
    padding: 20px;
}